body {
    background-color: #e2dcdc;
    margin-top: 80px;margin-bottom: 80px;
    margin-left: 150px;margin-right:150px;
    text-align: justify;
}

img{
    display:block;
    margin-left:auto;margin-right:auto;
    width:60%;
}

h1,h2{
    text-align:center;
}

.ingredients{
    background: #68626250;
}