body {
    background-color: #e2dcdc;
}

h1{
    font-family:"Times New Roman", monospace;
    text-align:center
}

.main{
    font-size:22px;
    font-family:"Times New Georgia", sans-serif;
    text-align:center;
}

.main .odd{
    background-color: #68626250;
;
}

#recipe1{
    border-radius:50%;
    width:20%;height:auto;
}